h1 {
    text-align: center;
    color: black;
}
.p1 {
  float: left; 
  font-size: 20px; 
  text-align: left;
}
.p2 {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    text-align: right;
}